<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>ImageEditor</title>
    <link rel="stylesheet" href="./bower_components/tui-color-picker/dist/tui-color-picker.css">
    <link rel="stylesheet" href="./tui-image-editor.css">
    <!-- <link rel="stylesheet" href="./service-basic.css"> -->
    <!-- <link type="text/css" href="./bower_components/tui-image-editor/dist/tui-image-editor.css" rel="stylesheet"> -->

    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css"> -->
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">

    <!-- <style>
        @import url(http://fonts.googleapis.com/css?family=Noto+Sans);
            html, body {
                height: 100%;
                margin: 0;
            }
            .container{
                width: 90%;
            }
    </style> -->
    
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./main/app.js"></script>
    <script src="./main/myCtrl.js"></script>
    <!-- <script src="./main/editorCtrl.js"></script> -->
    <script src="./main/editorUICtrl.js"></script>
    <script src="./main/tui.js"></script>
    <script type="text/javascript" src="./main/themes/white-theme.js"></script>
    <script type="text/javascript" src="./main/themes/black-theme.js"></script>

    <!-- Angular Material Dependencies -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script> -->
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    
    <script src="./node_modules/angular-material/angular-material.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script> -->

</head>

<body ng-controller="myCtrl">
   
    <!-- <input id="image" type="file" onchange="file_changed(event,400,200)"> -->
    <!-- <input type="file" id="myFile"> -->
    <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this,400,200)" type="file" accept="image/*" />
    <!-- <md-button ng-click="openDialog()">Open</md-button> -->

    <script src="./bower_components/fabric/dist/fabric.js"></script>
    <script src="./bower_components/tui-code-snippet/dist/tui-code-snippet.js"></script>
    <!-- <script src="./node_modules/file-saver/FileSaver.js"></script> -->
    <script src="./bower_components/tui-color-picker/dist/tui-color-picker.js"></script>
    <script src="./main/tui-image-editor.js"></script>
    <!-- <script src="./main/service-basic.js"></script> -->
    <!-- <script type="text/javascript" src="./bower_components/tui-image-editor/dist/tui-image-editor.js"></script> -->

</body>

</html>